@charset "UTF-8";

$mainC: rgb(180, 101, 48);

@mixin dp{display: flex; margin: 0 auto; justify-content: space-between; align-items: center; }
@mixin dp1{display: flex; margin: 0 auto; justify-content: space-around; align-items: center; }
@mixin wd{width: 1200px; margin: 0 auto;}
@mixin hover{background: #62ab00; color: #fff; border: 2px solid #62ab00; transition: all 0.5s ease 0s;}
@mixin bd{border: 2px solid #fff;}
@mixin bd1{border: 2px solid #eee;}
@mixin bd2{border: 1px solid #eee;}
@mixin back{background-position: center; background-size: cover;}
@mixin bf{content: ""; position: absolute; width: 100%; height: 100%; top: 0; left: 0; opacity: 0.9;}
@mixin nav1{position: absolute; left: 0; top:40px; display: flex; flex-direction: column; align-items: flex-start; width: 130px; padding: 22px 30px 24px; box-shadow: 0 0 20px 0.4px #0000001a; background: #fff;}




*{margin: 0; padding: 0; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: lighter;}
ol,ul,li{list-style: none;}
a{text-decoration: none; color: black;}
button:hover,i:hover{cursor: pointer;}

//header
header{width: 100%;}
header hr{color:#eee;}
#top{@include dp; width:1200px; height: 90px; align-items: center; }
#logo{width: 270px; padding: 0 30px;}

#search{position: relative; padding: 0px 15px; width: 557px; border: 1px solid rgb(173, 173, 173); border-radius: 5px; flex-shrink: 0; margin-left: -135px;}
#search button{color: #fff; font-size: 20px; position: absolute;  right: 0; top: 0; z-index: 3; width: 90px; height: 50px; background: #62ab00; border-radius: 0 5px 5px 0; border: none;}
#search button:hover{background: black;}
#search input{position:relative; width: 570px; height: 50px; padding: 3px 27px; border: none; color: gray; font-size: 14px; margin-left: -10px;}

#sidemenu{display: flex; font-size: 18px; padding: 16px 26px 0;}
#sidemenu i:first-child{color: #62ab00; font-size: 26px; line-height: 14px;}
#sidemenu i:last-child:hover{color: #62ab00;}
#sidemenu i:last-child{padding-left: 15px;} 

header nav{width:1903px; height: 60px; display: flex; align-items: center; border-top: 1px solid #eee; border-bottom: 1px solid #eee;}
header nav> ul{@include dp; width: 765px; }
header nav>ul>li{position: relative; line-height: 60px;}

#sub_nav, #sub_nav2{@include nav1;}
#sub_nav1{@include nav1; flex-direction:row; left: -273px; padding: 23px 26px 46px; width: 950px;}

#sub_nav, #sub_nav1, #sub_nav2{z-index: 10; top:60px;}

#sub_nav li, #sub_nav1 li, #sub_nav2 li{margin-bottom: 16px;     line-height: 22px; } #sub_nav li a:hover,#sub_nav1 li a:hover,#sub_nav2 li a:hover{color: #62ab00; transition: all 0.3s;}
#sub_nav li a, #sub_nav1 li a, #sub_nav2 li a{color: rgb(100, 100, 100);}
#sub_nav1>ul{ width: 25%; padding: 0 2%;} 
#sub_nav1 ul li:first-child{border-bottom: 1px solid #ccc; padding:0 0 18px ;}
#sub_nav1 ul li{ margin-bottom: 19px; line-height: 24px;}

#sub_nav1 li a:first-child{margin-bottom: 18px; }
#sub_nav1 li ul{display: flex; flex-direction: column; align-items: flex-start;}
#sub_nav1 li ul li:first-child{margin-top: 16px;}
#sub_nav1 li:first-child a{color: black;}

#gear{width: 242px; padding: 26px 30px 32px; background: #fff; box-shadow: 0 0 20px 0.4px #0000001a; position: absolute; right: 18%; top: 7.5%; z-index: 10; display: none;}
#gear:hover{color: black;}
#gear h4{font-size: 16px; padding: 25px 0 12px; border-bottom: 1px solid lightgray;} #gear ul{font-size: 14px; padding-top: 18px;}
#gear ul li:not(:last-child){padding-bottom: 31px;}
#gear ul li:hover{color: #62ab00;}



//book API
.book1{height: 583px; @include wd;  flex-wrap: wrap;}
.book1 h4{font-size: 25px; margin: 0 0 20px; padding: 0 15px 15px;}
.book1 span{float: right;} .book1 span a:hover {color: #62ab00;}
.book1 button{border: none; padding: 14px 20px; margin-right: 15px;}
#book1_btn{
  &1{@include hover; border: none;}
  &2{background: #eee; border: none;}
}
.all_part{@include dp1;}
.part{width:270px; height: 446px; @include bd2;}
.part:hover{box-shadow: 4px 4px 10px #eee;}
.part_img{width: 268px; height: 268px; display: flex; justify-content: center; align-items: center; position: relative;}
.part_img img{width: 160px; border-radius: 5px; box-shadow: 2px 1px 10px gray;}

.action{position: absolute; top: 24%; left: 7%; display: flex; flex-direction: column;}
.action i{padding-bottom: 20px; font-size: 22px; transform: translateX(-40px); transition: 1s; opacity: 0; color: #333;}

.part-1{padding: 27px 24px 30px; width: 220px; height: 118px; flex-direction: column; justify-content: space-between; display: flex;}
.part-1 #text{font-size: 14px;}
.part-1 a{font-size: 18px; line-height: 50px;}
.part-1 p{font-size: 20px; color: #62ab00;}
.part-1 span::before{content: "ㅡ"; font-size: 20px; font-weight: bold; color: lightgrey; margin-right: 10px;}
.part-1 span i{color: #e7a415; padding: 12px 5px 0 0;}



//footer
footer{padding-top: 45px;}
.footerall{@include wd; height: 253px; padding: 20px; display: flex; margin: 0 auto; justify-content: space-around; }
.footer-400{width: 400px; padding: 0 15px; }
.footer-400:first-child p{margin-top: 45px;}
.footer-400 div{margin-top: 20px;  width: 300px; height: 50px;}
.footer-400 p{font-size: 14px;}
.footer-400 div input{height: 50px; padding: 2px 60px 2px 30px; font-size: 14px; border: 1px solid; box-sizing: border-box;}
.footer-400 div button{position: absolute; background: black; color: #fff; width: 50px; height: 50px;}


.footer-200{width: 200px; padding: 0 15px;}
.footer-200 p:first-child, .footer-400 p:first-child{font-size: 18px; font-weight: bold; margin-bottom: 33px;}
.footer-200 p{margin-bottom: 25px; font-size: 16px;}
.footer-400 p{margin-bottom: 25px; font-size: 14px;}
.footer-200 p:not(:first-child):hover{color: #62ab00; cursor: pointer;}


#footer_last{width: 100%; height: 53px; border-top:1px solid #eee; padding-top: 20px; }
#footer_card{@include wd; padding: 0 15px; @include dp; color: #919191;}
#sns a{color: #919191; font-size: 14px;}
#text{font-size: 14px;}

#arrow-up{width: 50px; height: 50px; @include hover; border-radius: 50px; position: fixed; bottom: 5%; right: 1.5%;}
#arrow-up i{margin: 25% 0 0 27%; font-size: 25px; }
